<ion-content [fullscreen]="true">
  <div class="center-container">
    <ion-card class="form-container">
      <h2 class="form-title">Login</h2>
      <div class="form-grid">
        <ion-item class="form-item">
          <ion-input class="form-input" [(ngModel)]="loginData.name" placeholder="Enter your username"></ion-input>
        </ion-item>
        <ion-item class="form-item">
          <ion-input class="form-input" [(ngModel)]="loginData.password" type="password" placeholder="Enter your password"></ion-input>
        </ion-item>
      </div>
      <div class="button-container">
        <ion-button class="form-button" expand="block" (click)="loginUser()">Submit</ion-button>
        <ion-button class="form-button" expand="block" routerLink="/register">Register</ion-button>
      </div>
    </ion-card>
  </div>
</ion-content>