<ion-content [fullscreen]="true">
  <div class="center-container" >
    <ion-card class="form-container">
      <h2 class="form-title">User Information</h2>
      <p class="form-description">Please fill out the form below to provide your personal details.</p>
      <div class="form-grid">
        <ion-item class="form-item">
          <ion-input class="form-input" [(ngModel)]="userData.name" placeholder="Enter your name"></ion-input>
        </ion-item>
        <ion-item class="form-item">
          <ion-input class="form-input" [(ngModel)]="userData.last_name" placeholder="Enter your last name"></ion-input>
        </ion-item>
        <ion-item class="form-item">
          <ion-input class="form-input" [(ngModel)]="userData.age" type="number" placeholder="Enter your age"></ion-input>
        </ion-item>
        <ion-item class="form-item">
          <ion-input class="form-input" [(ngModel)]="userData.phone" placeholder="Enter your phone number"></ion-input>
        </ion-item>
        <ion-item class="form-item">
          <ion-select class="form-select" [(ngModel)]="userData.gender" placeholder="Select your gender">
            <ion-select-option value="male">Male</ion-select-option>
            <ion-select-option value="female">Female</ion-select-option>
            <ion-select-option value="tipo-de-geis">38 Tipos de Gay</ion-select-option>
            <ion-select-option value="other">Other</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="form-item">
          <ion-input class="form-input" [(ngModel)]="userData.password" type="password" placeholder="Enter a password"></ion-input>
        </ion-item>
      </div>
      <div class="button-container">
        <ion-button class="form-button" expand="block" (click)="registerUser()">Submit</ion-button>
        <ion-button class="form-button" expand="block" routerLink="/login">Login</ion-button>
      </div>
    </ion-card>
  </div>
</ion-content>